@use "base";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: base.$light;
}

/* === HEADER === */
header {
  // border: red 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
  background-color: base.$dark;
}

/* === NAV === */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 5.5rem;
}

.nav__logo-group {
  display: flex;

  p {
    color: base.$light;
    margin-left: 1rem;
    font-family: 'Source Code Pro', monospace;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 70px;
  padding: 0;
  flex-direction: column;
  background-color: base.$dark;
  width: 100%;
  transition: 0.3s;
}

.nav__menu.active {
  left: 0;
}

.menu__item {
  list-style: none;
  margin: 16px;
}

.menu__item-link {
  transition: 0.2s ease;
  color: base.$light;
  text-decoration: none;
}

.menu__item-link:hover {
  color: base.$secondary;
  padding-bottom: 5px;
  border-bottom: base.$secondary solid 3px;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  height: 40px;
  width: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: base.$secondary;
  color: base.$dark;
}

.download-btn:focus {
  outline: none;
}

.download-btn:active {
  box-shadow: inset 5px 5px 10px -3px base.$secondary;
}

.download-btn:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: base.$light;
  border: base.$secondary solid 3px;
}

/* NAV Hamburger */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: base.$light;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* === HERO === */
.hero {
  display: flex;
  justify-content: center;
  background-color: base.$light;
  min-height: 80rem}

.hero__content {
  // border: red 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  padding: 0 2rem;
}

.heading-primary {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.text-primary {
  font-size: 2rem;
  text-align: center;
}

.hero__cta {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 8rem;
  background-color: base.$secondary;
  color: base.$dark;
}

/* === ABOUT ME === */
.aboutme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100vw;
  background-color: #f2f2f2;
}
.aboutme-inner-container {
  border: red 1px solid;
  width: 100vw;
  // max-width: 1400px;
  // padding: 4rem 2rem;
}

.aboutme--title,
.tech-title {
  text-align: center;
}

.aboutme-paragraphs {
  padding: 0 1.2rem;
}

.tech-container {
  width: 100vw;
  max-width: 1400px;
  // padding: 0 1rem;
}

.tech-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.tech-icons > div {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* === PROJECTS === */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: base.$light;
}
.projects-inner-container {
  border: red 1px solid;
  max-width: 1400px;
  padding: 4rem 2rem;
}

.project-card {
  border: red 1px solid;
  padding: 0 2rem;
}

/* === FOOTER === */
.footer {
  border: red 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
