@use "base";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: base.$light;
}

.sec-pad {
  padding: 8rem 0;
}

.heading {
  text-transform: uppercase;
}

.heading-lt {
  color: base.$light;
}

.heading-sec {
  display: block;
  margin-bottom: 5rem;
  text-align: center;
  color: base.$dark;

  .heading-sec__main {
    font-size: 2.5rem;
  }

  .heading-sec__sub {
    font-size: 1.2rem;
    padding: 0 1.5rem;
    line-height: 1.7;
  }
}

.text-grey {
  color: grey;
}

/* === PROJECTS === */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #fafafa;
}

.projects-container {
  max-width: 1400px;
}


/* PROJECT CARD */
.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 10rem 0;
  padding: 0 2rem;
  justify-items: center;
}

.project-card__img {
  width: 100%;
}

.project-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h3 {
    font-size: 1.7rem;
  }

  p {
    margin-bottom: 2rem;
    line-height: 1.7;
  }
}

.project-card__btn-cont,
.about__content-main {
  a {
    padding: 1rem 3rem;
    margin-right: 2rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    background-color: base.$primary;
    color: base.$light;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  }

  a:hover {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    color: base.$dark;
    border: base.$primary solid 2px;
  }
}

/* === ABOUT ME === */
.about {
  display: grid;
  grid-template-columns: 1fr;
  background-color: base.$light;
}

.about__content {
  .about__content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }
  
  .about__content-title{
    font-size: 1.7rem
  }
  
  .about__content-para {
    margin-bottom: 2rem;
    line-height: 1.7;
    font-size: 1.2rem;
  }
}

.content-main__contact-btn {
  text-transform: uppercase;
  text-align: center;
}

.about__content-skills {
  padding: 2rem;

  .skills {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      p {
        color: grey;
        font-size: 1.1rem;
      }
    }
  }
}


/* === CONTACT === */
.contact {
  background: url(./../assets/blue-bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* === FOOTER === */
footer {
  border: red 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
