@use "base";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: base.$light;
}

.sec-pad {
  padding: 8rem 0; 
}


/* === PROJECTS === */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: base.$light;
}

.projects-container {
  // border: red 1px solid;
  max-width: 1400px;
}

.heading-sec {
  display: block;
  margin-bottom: 5rem;
  text-align: center;
  color: base.$dark;

  .heading-sec__main {
    font-size: 2.5rem;
  }

  .heading-sec__sub {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

/* PROJECT CARD */
.project-card {
  border: red 1px solid;
  padding: 0 2rem;
}

.project-card__img {
  width: 100%;
}


/* === ABOUT ME === */
.aboutme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}
.aboutme-inner-container {
  border: red 1px solid;
  width: 100vw;
}

.aboutme--title,
.tech-title {
  text-align: center;
}

.aboutme-paragraphs {
  padding: 0 1.2rem;
}

.tech-container {
  width: 100vw;
  max-width: 1400px;
}

.tech-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.tech-icons > div {
  display: grid;
  justify-items: center;
  align-items: center;
}


/* === FOOTER === */
.footer {
  border: red 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
