@use "base";
$medium: 768px;
$large: 1200px;


/* === MEDIUM SCREENS === */
@media screen and (min-width: $medium) {
  /* === NAV === */
  .nav__menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    gap: 15px;
    width: auto;
  }

  .nav {
    width: 1400px;
  }

  .hamburger {
    display: none;
  }

  .download-btn {
    gap: 0.5rem;
    height: 50px;
    width: 100px;
    margin: 0;
  }

  /* === HERO === */
  .hero {
    min-height: 65vh;
  }

  .hero__content {

    .heading-primary {
      font-size: 3rem;
      margin-bottom: 4rem;
    }

    .text-primary {
      margin: 0 auto 8rem;
      width: 70%;
      margin-bottom: 4rem;
    }

    .hero__cta {
      padding: 1rem 0;
      width: 30%;
    }
  }
}


/* === LARGE SCREENS === */
@media screen and (min-width: $large) {
  .nav-menu {
    gap: 40px;
  }
}
