$medium: 768px;
$large: 1200px;

@media screen and (min-width: $medium) {
  /* NAV */
  .nav__menu {
    /* border: red solid 1px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: auto;
    top: auto;
    gap: 15px;
    width: auto;
  }

  .nav {
    width: 1400px;
  }

  .hamburger {
    display: none;
  }

  .download-btn {
    gap: 0.5rem;
    height: 50px;
    width: 100px;
    margin: 0;
  }

  /* HERO */
  .hero {
    min-height: 85vh;
  }

  .hero--img {
    width: 400px;
  }
}

@media screen and (min-width: $large) {
  .nav-menu {
    gap: 40px;
  }
}
